body {
    margin: 0px;
    font-size: 28px;
}

.logo {
    max-width: 400px;
    margin-left: 20px;
}

.sectionlinks {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.sectionlinks a {
    display: block;
    color: #182b49;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: white;
}

a:hover {
    background-color: #182b49;
    color: white;
}

.link1 {
    margin-left: 20px;
}

#section1 {
    background-color: rgb(245, 240, 230);
    display: inline-block;
    scroll-margin-top: 35px;
}

#section1 img {
    max-width: 100%;
}

.section1Content {
    padding: 20px;
}

#section2 {
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    color: white;
    display: inline-block;
    scroll-margin-top: 35px;
}

#section2 img {
    max-width: 100%;
}

.section2Content {
    padding: 20px;
}

#section3 {
    background-color: rgb(245, 240, 230);
    display: inline-block;
    scroll-margin-top: 35px;
}

#section3 img {
    max-width: 100%;
}

.section3Content {
    padding: 20px;
}

.textBoxes {
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-content: center;
}

.box {
    background-color: #182b49;
    color: white;
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
    border-radius: 5px;
}

@media (width <= 800px) {
    .sectionlinks {
        display: none;
    }
    .logo {
        max-width: 75%;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .textBoxes {
        grid-template-columns: repeat(2, 1fr);
    }
}